* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-size: 14px;
}

.area {
    width: 50%;
    position: relative;
}

.area_playground {
    min-height: 100%;
    text-align: center;
    font-size: 0;
}

.area_console {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #CCC;
}

.btn {
    padding: 4px 6px;
}

.spot {
    display: inline-block;
    position: relative;
    background: #ddd;
    margin: 20px 20px 0;
    padding: 20px;
}

.spot_alt {
    background:#EEE;
}

.spot-inner {
    position: relative;
    width: 160px;
    height: 160px;
    background: #FFF;
    border: 1px solid #333;
    display: block;
}

.spot-back {
    position: absolute;
    top: 50px;
    left: 50px;
}

.inactive {
    opacity: 0.5;
}

.inside {
    background: #aaa;
}

.spot-inner.inside {
    background: #CCC;
}

.active {
    background: green !important;
}

.console {
    width: 100%;
    font-family: monospace;
    border-spacing: 0;
}

.console-wrap {
    padding: 10px;
}

.console td {
    vertical-align: top;
}

.console-col {
    width: 50%;
    float: left;
}

.console-log {
    overflow: auto;
}

.console-log span {
    padding: 0 4px;
    display: block;
    white-space: nowrap;
}

.console-points,
.console-options {
    padding: 10px;
    margin: 10px;
    border: 1px solid #bbb;
}

.hide-simulated .simulated {
    display: none;
}

.hide-non-simulated .non-simulated {
    display: none;
}

.hide-pointer .pointer {
    display: none;
}

.controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: red;
}

.simulated {
    opacity: 0.5;
}

.pointer {
    font-weight: bold;
}

.point {
    padding: 0 4px;
    list-style: none;
}

@media screen and (max-width: 800px) {

    .console-col {
        width: 100%;
        float: none;
    }

    .spot-inner {
        width: 110px;
        height: 110px;
    }

    body {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .spot-inner {
        width: 80px;
        height: 80px;
    }

    body {
        font-size: 8px;
    }
}