* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    min-height: 100%;
}

.area {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}

.area_console {
    background: #CCC;
}

.spot {
    font-size: 0;
    display: inline-block;
    background: #ddd;
    margin: 20px;
}

.spot_alt {
    background:#EEE;
}

.spot-inner {
    width: 160px;
    height: 160px;
    background: #FFF;
}

.inactive {
    opacity: 0.5;
}

.inside {
    background: #aaa;
}

.spot-inner.inside {
    background: #CCC;
}

.active {
    background: green !important;
}

.console {
    height: 100%;
    overflow: auto;
    font-family: monospace;
}

.console span {
    padding: 4px;
    white-space: nowrap;
}

.console-1 {
    /*margin-right: 150px;*/
}

.console-2 {
    display: none;
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.simulated {
    opacity: 0.5;
}

.pointer {
    font-weight: bold;
}

.console li {
    margin: 10px;
    list-style: none;
    border: 1px solid #BBB;
    padding: 20px;
}

@media screen and (max-width: 400px) {
    .spot {
        margin: 10px;
    }
    .spot-inner {
        width: 80px;
        height: 80px;
        margin: 10px;
    }

    body {
        font-size: 8px;
    }

    .console li {
        padding: 10px;
        font-size: 10px;
        margin: 10px;
    }
}